<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Vane Manzanelli</title>
    
    <!-- Bootstrap -->
    <link href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">

</head>
<body >
   <div class="container" >
        <!--header-->

        <!--row inicio-->
        <div class="row-sm">

          {% for dato in datos %}
          <div class="col-sm d-sm-flex justify-content-sm-between">                            
            <h3 class="mt-sm-2 mb-sm-2 p-sm-2 fst-italic fw-bolder" ><a href="{% url 'index' %}"  >{{dato.nombre}} {{dato.apellido}}</a> </h3>     
                    
            <div class="col-sm d-sm-flex justify-content-sm-end">              
              <h5 class=" mt-sm-3 mb-sm-2 p-sm-2 " ><a class="mt-sm-2 mb-sm-2 p-sm-2" href="{% url 'portfolio' %}" >Mis Proyectos</a>  </h5>                
              <a href="https://github.com/vanemanza" ><img class="mt-sm-3 mb-sm-2" src="{% static 'webapp/img/github.png' %}" alt="logo cv" style="width: 45px;"></a>
            </div>     
         
          </div>  
          {% endfor %}
        </div>       
                      
        <!--contenido variable-->
        
        <div class="container border border-danger  rounded" >             
            
              {% block content %} {% endblock %}          
        
        </div>
        <!--footer-->
        <div class="col-sm d-sm-flex justify-content-sm-between mt-sm-2 p-sm-1">
            {% for dato in datos %}
             
            <p>Hecho por ®Mi - Octubre - 2021 - <a href="{% url 'contacto' %}"><span> {{dato.email}}  </span></a> </p>
            
            <div class="row">
              <a href="https://api.whatsapp.com/send?phone=543512682233" ><img class="mt-sm-1" src="{% static 'webapp/img/wsp.png' %}" alt="logo wsp" style="width: 45px;"></a>
              <a href="{% static 'webapp/documentos/cv_noviembre.pdf' %}" ><img class="rounded" src="{% static 'webapp/img/cv.png' %}" alt="logo cv" style="width: 50px;"></a>
              <a href="https://www.linkedin.com/in/vanesa-manzanelli-0a38931b4/" ><img class="mt-sm-1 pt-sm-1" src="{% static 'webapp/img/linkedin.png' %}" alt="logo linkedin" style="width: 40px;"></a>
            </div>
            {% endfor %}
        
        </div>

    </div>  
      
</body>
</html>