<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vane Portfolio</title>
    
    <!-- Bootstrap -->
    <link href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">

</head>
<body >
    <div class="container">
        <!--header-->
        {% for dato in datos %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">{dato.nombre}{dato.apellido}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled">Disabled</a>
              </div>
            </div>
          </div>
        </nav>
          {% endfor %}
          <div class="container">
            <p style="margin-left: 20px;">Welcome to my Portfolio !</p>
          </div>
          <!--contenido variable-->

         
          {% block content %} {% endblock %}
         

          <!--footer-->
          <div class="container">
            <div class="text-center ">
              
                <a href="#"><img class="rounded" src="{% static 'webapp/img/linkedin.png' %}" alt="logo linkedin" style="width: 50px;"></a>
                <a href="#"><img class="rounded" src="{% static 'webapp/img/github.png' %}" alt="logo linkedin" style="width: 50px;"></a>
                <a href="#"><img class="rounded" src="{% static 'webapp/img/mail.png' %}" alt="logo linkedin" style="width: 50px;"></a>
              
            </div>
          </div>
    </div>       
</body>
</html>