<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Vane Manzanelli</title>
    
    <!-- Bootstrap -->
    <link href="{% static 'webapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">

</head>
<body >
   
        <!--header-->
        <div class="container" id='fondo'>
          <div class="row">
            <div class="col mt-4">
              <h1><a href="#">Vanesa Manzanelli</a></h1>
            </div>
            <div class="col">
            <div class="row p-5">
              <a class="col" href="#">Inicio</a>
              <a class="col" href="#">Portfolio</a>
              <a class="col" href="#">Sobre mi</a>
              <a class="col" href="#">Contacto</a>              
            </div>           
          </div>
        </div>
       
          <!--contenido variable-->
         
          {% block content %} {% endblock %}
        
          <!--footer-->
          <div class="container">
            <div class="text-center ">
              
                <a href="#"><img class="rounded" src="{% static 'webapp/img/linkedin.png' %}" alt="logo linkedin" style="width: 50px;"></a>
                <a href="#"><img class="rounded" src="{% static 'webapp/img/github.png' %}" alt="logo linkedin" style="width: 50px;"></a>
                <a href="#"><img class="rounded" src="{% static 'webapp/img/mail.png' %}" alt="logo linkedin" style="width: 50px;"></a>
              
            </div>
          </div>
    </div>       
</body>
</html>