{% extends 'webapp/base.html' %} 

{% load static %} 

{% block content %} 

 <div class="container m-sm-3 "> 

  <div class="col" >   
    {% if "valido" in request.GET %}   
  <a href="{% url 'index' %}" class="col bg-success text-white  rounded text-center m-sm-1 p-sm-2 " style="text-align: center; font-size: 15px;">Información enviada correctamente - Volver al Inicio</a>
  {% endif %}   
   <form action="" method="POST" >
   {% csrf_token %} 
   <p class="p-sm-2 m-sm-2">{{form.as_p}}</p>
   <input type="submit" class="btn btn-outline-success" value="Enviar" />
   </form>   
  </div>

</div>
{% endblock %}  

