{% extends 'webapp/base.html' %} 

{% load static %} 

{% block content %} 

 <div class="contenedorFormulario "> 
   
   <form action="" method="POST" style="text-align: left;">
   {% csrf_token %} 
   <p style="padding: 10px; margin: 10px auto;">{{form.as_p}}</p>
   <input type="submit" class="btn btn-dark" value="Enviar" style="width: 150px;"/>
  </form>
  <br>
  {% if "valido" in request.GET %} 
   <div class="row  m-3" >
     <p class="col-4 "></p>
     <p class="col-4 bg-success text-white  rounded text-center p-3" style="text-align: center; font-size: 15px;">Información enviada correctamente</p>
    <p class="col-4 "></p>
    </div>
   {% endif %}   
 </div>

{% endblock %}  

