{% extends 'webapp/base.html' %} 

{% load static %}

{% block content %} 
  
    <div class="row d-md-flex justify-content-sm-center border border-warning rounded mt-sm-3">
    {% for dato in datos %}     
        <div class="col align-self-center ">

            <h3 class=" p-3 mt-2 mr-2 ">Welcome!</h3>

            <p class=" p-3 mt-2 mr-2 " style="text-align: justify;">{{dato.about_me}}</p>
        
            <div class="d-md-flex justify-content-sm-end m-sm-3 p-sm-3 gx-5" style="height: 60px;">
                <img src="{% static './webapp/img/python.svg' %}"  class="pl-2">
                <img src="{% static './webapp/img/django-icon.svg' %}"  class=" pl-2">
                <img src="{% static './webapp/img/html-5.svg' %}"  class=" pl-2">
                <img src="{% static './webapp/img/css-3_official.svg' %}"  class=" pt-sm-1 pl-2">
                <img src="{% static './webapp/img/bootstrap.svg' %}"  class="pl-2 pt-1 mt-sm-1">
            </div>
        </div>
    {% endfor %}    
    



</div>    
    
    
   
   




{% endblock %}  