{% extends 'webapp/base.html' %} 

{% load static %}

{% block content %} 


    <div class="row" >
        <div class="col-5" >
            {% for dato in datos %}
            <img src={{dato.foto.url}} style="width: 350px; height:350px; " class="mt-5 ml-5 rounded-circle">
           
        </div>
        <div class="col-7 ">
            <p class="rounded border border-warning p-5 mt-5 mr-2 " style="height: 95%;">{{dato.about_me}}</p>
        </div>
        {% endfor %}
    </div>


{% endblock %}  